## Python ##
# Byte-compiled / optimized / DLL-files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# pipenv
# Pipfile.lock

## Jupyter Notebooks ##
.ipynb_checkpoints
*/.ipynb_checkpoints/*

## Visual Studio Code ##
.vscode/
# .vscode/*
# !.vscode/extensions.json
# !.vscode/launch.json
# !.vscode/settings.json
# !.vscode/tasks.json
